<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Maven-Hibernate</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLoginVerify</display-name>
    <servlet-name>UserLoginVerify</servlet-name>
    <servlet-class>com.sal.controller.UserLoginVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginVerify</servlet-name>
    <url-pattern>/UserLoginVerify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.sal.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.sal.controller.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OnInitUserDetails</display-name>
    <servlet-name>OnInitUserDetails</servlet-name>
    <servlet-class>com.sal.controller.OnInitUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnInitUserDetails</servlet-name>
    <url-pattern>/OnInitUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdatePhoneNumber</display-name>
    <servlet-name>UserUpdatePhoneNumber</servlet-name>
    <servlet-class>com.sal.controller.UserUpdatePhoneNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdatePhoneNumber</servlet-name>
    <url-pattern>/UserUpdatePhoneNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdatePassword</display-name>
    <servlet-name>UserUpdatePassword</servlet-name>
    <servlet-class>com.sal.controller.UserUpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdatePassword</servlet-name>
    <url-pattern>/UserUpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserApplyJob</display-name>
    <servlet-name>UserApplyJob</servlet-name>
    <servlet-class>com.sal.controller.UserApplyJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserApplyJob</servlet-name>
    <url-pattern>/UserApplyJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserApplyJobStatus</display-name>
    <servlet-name>UserApplyJobStatus</servlet-name>
    <servlet-class>com.sal.controller.UserApplyJobStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserApplyJobStatus</servlet-name>
    <url-pattern>/UserApplyJobStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginVerify</display-name>
    <servlet-name>AdminLoginVerify</servlet-name>
    <servlet-class>com.sal.controller.AdminLoginVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginVerify</servlet-name>
    <url-pattern>/AdminLoginVerify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.sal.controller.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OnInitAdminDetails</display-name>
    <servlet-name>OnInitAdminDetails</servlet-name>
    <servlet-class>com.sal.controller.OnInitAdminDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnInitAdminDetails</servlet-name>
    <url-pattern>/OnInitAdminDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdatePhoneNumber</display-name>
    <servlet-name>AdminUpdatePhoneNumber</servlet-name>
    <servlet-class>com.sal.controller.AdminUpdatePhoneNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdatePhoneNumber</servlet-name>
    <url-pattern>/AdminUpdatePhoneNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdatePassword</display-name>
    <servlet-name>AdminUpdatePassword</servlet-name>
    <servlet-class>com.sal.controller.AdminUpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdatePassword</servlet-name>
    <url-pattern>/AdminUpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllUsers</display-name>
    <servlet-name>ViewAllUsers</servlet-name>
    <servlet-class>com.sal.controller.ViewAllUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllUsers</servlet-name>
    <url-pattern>/ViewAllUsers</url-pattern>
  </servlet-mapping>
</web-app>